# Sets
Notes from [Deep Dive 3](https://www.udemy.com/course/python-3-deep-dive-part-3/) section 5. Topics covered:

1\. [Sets](#sets)

2\. [Creating sets](#creating-sets)
    
3\. [Common operations](#common-operations)

* [size](#size)
* [membership testing](#membership-testing)
* [adding elements](#adding-elements)
* [removing elements](#removeing-elements)

4\. [Set operations](#set-operations)

* [intersection](#intersection)
* [unions](#unions)
* [disjointedness](#disjointedness)
* [difference](#difference)
* [symmetric differences](#symmetric-differences)
* [subsets and strict subsets, supersets and strict supersets](#subsets)

5\. [Update operations](#update-operations)

* [intersection vs intersection update](#intersection-comparison)
* [update](#update)
* [difference update](#difference-update)
* [symmetric difference update](#symmetric-difference-update)

6\. [Copying sets](#copying-sets)

* [shallow copy](#shallow-copy)
* [deep copy](#deep-copy)
* [shallow copy vs deep copy](#copy-comparison)

7\. [Frozen sets](#frozen-sets)

* [copying sets and frozen sets - comparison](#copying-sets-frozensets-comparison)
* [operations on sets and frozen sets - comparison](#operations-on-sets-frozensets)

8\. [Dictionary views: Keys, Values and Items](#dictionary-views)

<hr>

<a id='sets'></a>
## 1. Sets

elements of a set:
* must be `unique` (distinct)
* must be `hashable`
* have no guaranteed order

a set is mutable collection -> add and remove elements

a set is therefore `not hashable`
* cannot be used as dictionary key
* cannot be used as an element of another set

<hr>

<a id='creating-sets'></a>
## 2. Creating sets

__Example 1__:

In [1]:
iterable = {'a', 10, 3.14159}
s = set(iterable)
s

{10, 3.14159, 'a'}

In [2]:
type(s)

set

<hr>

__Example 2__:

In [3]:
s = set([1, 2, 3])
s

{1, 2, 3}

<hr>

__Example 3__:

In [4]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

<hr>

__Example 4__:

In [5]:
empty_set = set()
empty_set

set()

<hr>

__Example 5__:

In [6]:
set_comprehensions = {c for c in 'python'}
set_comprehensions

{'h', 'n', 'o', 'p', 't', 'y'}

<hr>

__Example 6__:

In [7]:
s = set('python')
s

{'h', 'n', 'o', 'p', 't', 'y'}

<hr>

__Example 7__:

In [8]:
s1 = {'a', 10, 3.14}
s2 = set('abc')

set_unpacking = {*s1, *s2} 
set_unpacking

{10, 3.14, 'a', 'b', 'c'}

<hr>

__Example 8__:

In [9]:
try:
    s = set([[1,2], [3,4]])
except TypeError as e:
    print('TypeError:', e)

TypeError: unhashable type: 'list'

<hr>

__Example 9__:

Set created from dictionary contains only keys.

In [10]:
d = {'a': 1, 'b': 2}
s = set(d)
s

{'a', 'b'}

<hr>

__Example 10__:

Cannot make a set of sets, but it is allowed to unpack sets into a new one.

In [11]:
s1 = {'a', 'b', 'c'}
s2 = {10, 20, 30}

try:
    s = {s1, s2}
except TypeError as e:
    print('TypeError:', e)

TypeError: unhashable type: 'set'

In [12]:
s = {*s1, *s2}
s

{10, 20, 30, 'a', 'b', 'c'}

<hr>

__Example 11__:

Distinct elements

In [13]:
s = set('baabaa')
s

{'a', 'b'}

<hr>


Find the unique elements of a list. As long as the elements are all hashable, can easily be done using sets!

__Example 12__:

Assign a score to a string based on how many distinct characters of the alphabet it uses.

In [14]:
def scorer(s):
    alphabet = set('abcdefghijklmnopqrstuvwxyz')
    s = s.lower()
    distinct = set(s)
    # Skip characters other than letters
    effective = distinct & alphabet
    return len(effective) / len(alphabet)

In [15]:
scorer('basketball')

0.2692307692307692

In [16]:
scorer('baa baa')

0.07692307692307693

In [17]:
scorer('baa baa baa!!! 123')

0.07692307692307693

In [18]:
scorer('the quick brown fox jumps over the lazy dog')

1.0

<hr>

<a id='common-operations'></a>
## 3. Common Set Operations

* size
* membership testing
* adding elements
* removing elements

<a id='size'></a>
### 3.1 Size

__Example 13__:

In [19]:
s = {1, 2, 3}
len(s)

3

<hr>

<a id='membership-testing'></a>
### 3.2 Membership testing 

Membership testing in sets is __fast__ while in a list or tuple is slow (in comparison)

__Example 14__:

In [20]:
1 in s

True

In [21]:
4 in s

False

In [22]:
1 not in s

False

<hr>

Sets are hash tables, and __membership testing__ is extremely efficient for sets, since it's simply a hash table lookup - as opposed to scanning a list for example, until we find the requested element (or not).

__Example 15__: 

Time comparison for membership testing of `sets` vs `lists` and `dictionaries`

_Note_: The test returns `True` as soon as finds the search object

In [23]:
from timeit import timeit

In [24]:
n = 100_000
s = {i for i in range(n)}
l = [i for i in range(n)]
d = {i: None for i in range(n)}

<hr>

Search for a value `9` which is tenth element of an ordered collection (list, dictionary keys) and unknown for set.

List timing is comparable with set and dictionary because the lookup value is at the beginning of the list

In [25]:
# Repeat the test number of times
number = 1_000_000
# Look for value inside of those collections
search = 9

In [26]:
# Time a test if search value is in collection
# pass in globals so it has access to s, l, d
time_list = timeit(f'{search} in l', globals=globals(), number=number)
time_set = timeit(f'{search} in s', globals=globals(), number=number)
time_dict = timeit(f'{search} in d', globals=globals(), number=number)
print(f'list:\t{time_list}')
print(f'set:\t{time_set}')
print(f'dict:\t{time_dict}')

list:	0.3129767000000001
set:	0.09611349999999996
dict:	0.053570100000000176

<hr>

Much different result while search for a value at the __end__ of an ordered collection. 

_Note_: Test repetitions reduced for this example.

In [27]:
# Repeat the test number of times
number = 3_000
# Look for value inside of those collections
search = 99_999

In [28]:
# Time a test if search value is in collection
# pass in globals so it has access to s, l, d
time_list = timeit(f'{search} in l', globals=globals(), number=number)
time_set = timeit(f'{search} in s', globals=globals(), number=number)
time_dict = timeit(f'{search} in d', globals=globals(), number=number)
print(time_list)
print(time_set)
print(time_dict)

3.9782358
0.00018030000000024415
0.00019029999999986558

<hr>

Similar result for __not in__ search in the collections.

_Note_: Needs to scan entire collection

In [29]:
number = 3_000
search = -1
time_list = timeit(f'{search} in l', globals=globals(), number=number)
time_set = timeit(f'{search} in s', globals=globals(), number=number)
time_dict = timeit(f'{search} in d', globals=globals(), number=number)
print(time_list)
print(time_set)
print(time_dict)

3.4401401
0.00014440000000170983
0.0001571000000009093

<hr>

__Example 16__:

Memory cost comparison. Efficiency of sets comes at the cost of memory.

In [30]:
print(l.__sizeof__())
print(s.__sizeof__())
print(d.__sizeof__())

800968
4194504
5242952

<hr>

Size comparison of empty elements

In [31]:
l = list()
s = set()
d = dict()
print(l.__sizeof__())
print(s.__sizeof__())
print(d.__sizeof__())

40
200
216

<hr>

<a id='adding-elements'></a>
### 3.3 Adding elements

* mutates set while adding an element 
* unknown insertion position 

`s.add('python')` - mutates the set

__Example 17__:

In [32]:
s = {10, 20, 30}
s.add('x')
print(s)

{10, 20, 30, 'x'}

In [33]:
s.add(15)
print(s)

{'x', 10, 15, 20, 30}

Jupyter tries to represent things nicely for us, which might be misleading:

In [34]:
s

{10, 15, 20, 30, 'x'}

Adding existing element will be ignored.

In [35]:
s.add(10)
print(s)

{'x', 10, 15, 20, 30}

<hr>

<a id='removeing-elements'></a>
### 3.4 Removing elements from set

* `remove()`
* `discard()`
* `pop()`

<br>

__remove()__

KeyError exception will raise if element not in set.

__Example 18__:

In [36]:
s.remove(10)
print(s)

{'x', 15, 20, 30}

In [37]:
try:
    s.remove(50)
except KeyError as e:
    print(f'KeyError: {e}')

KeyError: 50

<hr>

__discard()__

`discard()` removes specified element but won't raise KeyError if it's not in set.

__Example 19__:

In [38]:
s.discard(100)
print(s)

{'x', 15, 20, 30}

In [39]:
s.discard(20)
print(s)

{'x', 15, 30}

<hr>

__pop()__:

`pop()` removes (and returns) an __arbitrary__ element from set. 

__Example 20__:

In [40]:
s = set('python')
print(s)

{'t', 'n', 'h', 'p', 'y', 'o'}

In [41]:
s.pop()

't'

In [42]:
s

{'h', 'n', 'o', 'p', 'y'}

In [43]:
s.pop()

'n'

In [44]:
s

{'h', 'o', 'p', 'y'}

<hr>

In [45]:
s = set('python')
while len(s)>0:
    e = s.pop()
    print(e)

t
n
h
p
y
o

<hr>

`pop()` of empty set will raise `KeyError` exception

In [46]:
s = set('python')
while True:
    try:
        print(s.pop())
    except KeyError as e:
        print('KeyError:', e)
        break

t
n
h
p
y
o
KeyError: 'pop from an empty set'

<hr>

<a id='set-operations'></a>
## 4. Set operations

Two ways of doing operations on sets, using:
* operators: `s1 & s2`.\
Both have to be sets
* methods: `s1.intersection(s2)`\
In case of methods second object doesn't have to be a set, it has to be an iterable

<hr>

<a id='intersection'></a>
### 4.1 Intersection

__Example 21__:

In [47]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

In [48]:
s1.intersection(s2)

{2, 3}

In [49]:
s1.intersection(s2, s3)

{3}

In [50]:
s1 & s2 & s3

{3}

In [51]:
print(s1)
print(s2)
print(s3)

{1, 2, 3}
{2, 3, 4}
{3, 4, 5}

<hr>

<a id='unions'></a>
### 4.2 Unions

__Example 22__:

In [52]:
s1.union(s2)

{1, 2, 3, 4}

In [53]:
s1.union(s2, s3)

{1, 2, 3, 4, 5}

In [54]:
s1 | s2 | s3

{1, 2, 3, 4, 5}

<hr>

<a id='disjointedness'></a>
### 4.3 Disjointedness

`True` if sets don't intersect

__Example 23__:

In [55]:
s4 = {30, 40, 50}

In [56]:
s1.isdisjoint(s2)

False

In [57]:
s1.isdisjoint(s4)

True

In [58]:
len(s1 & s2)

2

In [59]:
if s1 & s2:
    print('set not disjointed')

set not disjointed

<hr>

<a id='difference'></a>
### 4.4 Difference

__Example 24__:

In [60]:
s5 = {1, 2, 3, 4, 5}
s6 = {4, 5}

In [61]:
s5 - s6

{1, 2, 3}

In [62]:
s5.difference(s6)

{1, 2, 3}

In [63]:
s6 - s5

set()

<hr>

<a id='symmetric-differences'></a>
### 4.5 Symmetric differences
Is equal to: (union - intersection)

__Example 25__:

In [64]:
s7 = {4, 5, 6, 7, 8}

In [65]:
s5.symmetric_difference(s7)

{1, 2, 3, 6, 7, 8}

In [66]:
s5 ^ s7

{1, 2, 3, 6, 7, 8}

<hr>

<a id='subsets'></a>
### 4.6 Subsets and strict subsets, supersets and strict supersets

__Example 26__:

In [67]:
s1 = {1, 2, 3}
s2 = {1, 2, 3}
s3 = {1, 2, 3, 4}
s4 = {10, 20, 30}

In [68]:
""" Is subsets? """
s1 <= s2

True

In [69]:
"""Is strict subsets? """
s1 < s2

False

In [70]:
""" Is subsets? """
s1.issubset(s2)

True

In [71]:
""" Is strict superset ?"""
s3 > s1

True

In [72]:
""" Is strict superset ?"""
s2 > s1

False

In [73]:
""" Is superset ?"""
s3.issuperset(s1)

True

<hr>

__Note:__ if `a <= b` --> `False` then `a > b` --> `True`\
This is always the case for _numbers_ but not always applicable for _sets_

__Example 27__:

In [74]:
s1 = {1, 2, 3}
s2 = {10, 20, 30}

In [75]:
s1 <= s2

False

In [76]:
s1 > s2

False

<hr>

<a id='update-operations'></a>
## 5. Update operations
Operators that mutate left hand site sets:\
`|=` (.update)\
`&=` (.intersection_update)\
`-=` (difference_update)\
`^=` (summetric_difference_update)

<hr>

<a id='intersection-comparison'></a>
### 5.1 Intersection vs Intersection update

`Intersection` results as a new set. <br>
Stored as s1, but it is not the same object as initially defined.<br>
The id number is different for both.

__Example 28__:

In [77]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 1758271067520
{2, 3, 4} 1758271067296

In [78]:
s1 = s1 & s2
print(s1, id(s1))

{2, 3} 1758257146112

<hr>

`Intersection update` mutates the first component:

In [79]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1 &= s2
print(s1, id(s1))

1758271068864
{2, 3} 1758271068864

In [80]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1.intersection_update(s2)
print(s1, id(s1))

1758257145440
{2, 3} 1758257145440

<hr>

<a id='update'></a>
### 5.2 Update

__Example 29__:

In [81]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1 |= s2
print(s1, id(s1))

1758271068864
{1, 2, 3, 4} 1758271068864

In [82]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1.update(s2)
print(s1, id(s1))

1758271067296
{1, 2, 3, 4} 1758271067296

<hr>

<a id='difference-update'></a>
### 5.3 Difference update

__Example 30__:

In [83]:
s1 = {1, 2, 3, 4}
s2 = {1, 2}

print(id(s1))
s1 -= s2
print(s1, id(s1))

1758271069088
{3, 4} 1758271069088

For `difference update` operator method the **right hand side of the equation is always performed first**:

In [84]:
s1 = {1, 2, 3, 4}
s2 = {1, 2}
s3 = {2}

print(id(s1))
s1 -= s2 - s3   # --> s1 - (s2 - s3 - ....)
print(s1, id(s1))

1758257146112
{2, 3, 4} 1758257146112

In [85]:
s1 = {1, 2, 3, 4}
s2 = {1, 2}
s3 = {2}

print(id(s1))
s1.difference_update(s2, s3)   # --> (((s1 - s2) - s3) - ...)
print(s1, id(s1))

1758271066400
{3, 4} 1758271066400

<hr>

<a id='symmetric-difference-update'></a>
### 5.4 Symmetric difference update

__Example 31__:

In [86]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

print(id(s1))
s1 ^= s2
print(s1, id(s1))

1758271066176
{1, 2, 3, 6, 7, 8} 1758271066176

<hr>

__Example 32__:

Use generator to pass set of data everytime its called.
Create a filter that will look at the data just received, removing the cities we want to ignore.

In [87]:
def gen_read_data():
    """ Generator data to return different list everytime its called """
    yield ['Paris', 'Bejing', 'New York', 'London', 'Madrid', 'Mumbai']
    yield ['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']
    yield ['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [88]:
def filter_incoming(*cities, data_set):
    """ Mutates data_set to remove cities. Return not required """
    data_set.difference_update(cities)

In [89]:
result = set()
# setting up data source
data = gen_read_data()
# pull data page by page
for page in data:
    # keep requesting data from data source until exhausted
    # add page of data to result by mutating result
    result.update(page)
    # filter result at the same time as receiving data and not waiting for full result
    filter_incoming('Paris', 'London', data_set=result)
print(result)

{'Cairo', 'Hyderabad', 'Berlin', 'Mumbai', 'Milan', 'Phoenix', 'Barcelona', 'Madrid', 'San Francisco', 'New York', 'Bejing', 'Stockholm'}

<hr>

<a id='copying-sets'></a>
## 6. Copying sets

<a id='shallow-copy'></a>
### 6.1 Shallow copy 

Copying sets is similar to coping dictionaries.<br>
With shallow copy all the objects of copied set have the same id.<br>

* `copy` method on sets creates a shallow copy of the set.
* `unpacking` creates shallow copy
* `set()` function creates shallow copy of another set

__Example 33__:

Shallow copy on mutable but hashable custom class object.

In [90]:
# Using mutable class which is hashable
class Person():
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'Person(name={self.name})'

In [91]:
p1 = Person('John')
p2 = Person('Eric')

In [92]:
hash(p1), hash(p2)

(109891082216, 109891082228)

In [93]:
# Because objects are hashable therefore can be used to create a set
s1 = {p1, p2}
s1

{Person(name=Eric), Person(name=John)}

<hr>

Use `copy()`, `unpacking` and `set()` to perform shallow copy:

In [94]:
s2 = s1.copy()
s3 = {*s1}
s4 = set(s1)
s1, s2, s3, s4

({Person(name=Eric), Person(name=John)},
 {Person(name=Eric), Person(name=John)},
 {Person(name=Eric), Person(name=John)},
 {Person(name=Eric), Person(name=John)})

<hr>

Sets are not the same, however their contained elements **are**.

* Mutate object `p1`:

In [95]:
p1.name = 'John Cleese'
p1

Person(name=John Cleese)

In [96]:
s1, s2, s3, s4

({Person(name=Eric), Person(name=John Cleese)},
 {Person(name=Eric), Person(name=John Cleese)},
 {Person(name=Eric), Person(name=John Cleese)},
 {Person(name=Eric), Person(name=John Cleese)})

In [97]:
# Hash value didn't change
hash(p1)

109891082216

In [98]:
s2 is s1

False

In [99]:
s2 == s1

True

<hr>

<a id='deep-copy'></a>
### 6.2 Deep copy

Deepcopy creates a new objects with new ids.<br>
* Use `deepcopy` function in the `copy` module.

__Example 34__:

In [100]:
from copy import deepcopy
s5 = deepcopy(s1)
s5

{Person(name=Eric), Person(name=John Cleese)}

In [101]:
s1 is s5

False

In [102]:
s1 == s5

False

<hr>

<a id='copy-comparison'></a>
### 6.3 Comparison (shallow copy vs deep copy)

__Example 35__:

With shallow copy all the objects of copied set have the same id.<br>
Deepcopy creates a new objects with new ids.

In [103]:
# Print id of every object in set
[(o, id(o)) for o in s1]

[(Person(name=John Cleese), 1758257315456), (Person(name=Eric), 1758257315648)]

In [104]:
[(o, id(o)) for o in s2]

[(Person(name=John Cleese), 1758257315456), (Person(name=Eric), 1758257315648)]

In [105]:
[(o, id(o)) for o in s5]

[(Person(name=John Cleese), 1758256004112), (Person(name=Eric), 1758256004304)]

<hr>

Mutating sets is not carried over to sets created using deepcopy

In [106]:
p2.name = 'Eric Idle'
s1, s2, s3, s4, s5

({Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric), Person(name=John Cleese)})

<hr>

<a id='frozen-sets'></a>
## 7. Frozen sets

Sets are __not__ hashable. <br>
Not possible to make set of sets.

Frozen sets are hashable. <br> 
Hence it is possible to make a set of frozen sets.

<hr>

<a id='copying-sets-frozensets-comparison'></a>
### 7.1 Copying sets and frozen sets - comparison

__Example 36__:

Coping sets:

In [107]:
s1 = {1,2,3}
s2 = set(s1)
s1 is s2

False

<hr>

Copying frozen sets:

In [108]:
s1 = frozenset([1,2,3])
s2 = frozenset(s1)
s1 is s2

True

In [109]:
s2 = deepcopy(s1)
s1 is s2

False

In [110]:
type(s2)

frozenset

<hr>

<a id='operations-on-sets-frozensets'></a>
### 7.2 Operations on sets and frozen sets - comparison

Whichever type is first defines the type of output.

__Example 37__:

In [111]:
s1 = frozenset('ab')
s2 = {1, 2}

In [112]:
s3 = s1 | s2
s3

frozenset({1, 2, 'a', 'b'})

In [113]:
s4 = s2 | s1
type(s4), s4

(set, {1, 2, 'a', 'b'})

<hr>

In [114]:
s1 = {1, 2}
s2 = frozenset(s1)

In [115]:
s1 is s2

False

In [116]:
s1 == s2

True

<hr>

<a id='dictionary-views'></a>
## 8. Dictionary views: Keys, Values and Items

Views:
* `dict.keys()` - always behaves like a frozen set (since elements are unique (`==`) and `hashable`)
* `dict.values()` - never behaves like a set (values not guaranteed unique nor hashable)
* `dict.items()` - may behave like a frozen set (if the values are `hashable`)

Views are lightweight as they do not maintain their own copy of the underlying data.

Views are **not** static:<br>
* views reflect any changes in the dictionary

Immutable but not updatable.

Order of keys and values (and items) are the same.

<hr>

__Example 38__:

Memory address of these view objects doesn't change, but the view 'contents' changes with dictionary update. Views are **dynamic**.

In [117]:
d = {'a': 1, 'b': 2}

In [118]:
keys = d.keys()
values = d.values()
items = d.items()

In [119]:
print(keys)
print(values)
print(items)

dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])

In [120]:
print(id(keys), id(values), id(items))

1758257223664 1758257224960 1758257224624

In [121]:
d['z'] = 100

In [122]:
print(id(keys), id(values), id(items))

1758257223664 1758257224960 1758257224624

<hr>

__Example 39__:

Iterate dictionary keys using the dictionaries iterator, or using the key view results the same.

Comparison efficiency of iteration through dictionary methods:
* dictionaries iterator
* key view

In [123]:
from random import randint

d = {k: randint(0, 100) for k in range(10_000)}
items = d.items()

In [124]:
def iterate_view(view):
    for k, v in view:
        pass
    
def iterate_clunky(d):
    for k in d:
        d[k]
        
print(timeit('iterate_view(items)', globals=globals(), number=5_000))
print(timeit('iterate_clunky(d)', globals=globals(), number=5_000))

1.9658756000000004
3.000578400000002